@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --brand: 0 0% 0%;
    --brand-foreground: 0 0% 100%;

    --inverted: 0 0% 0%;
    --inverted-foreground: 0 0% 100%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
