VITE_API_URL=http://localhost:3000
VITE_AUTH0_DOMAIN=your-auth0-domain
VITE_AUTH0_CLIENT_ID=your-auth0-client-id
VITE_STRIPE_KEY=your-stripe-public-key
VITE_APPLICATION_IDENTIFIER=ournet
VITE_PUBLIC_DSN=your-sentry-dsn  # Optional, for error tracking
